<main>
  <div class="row">

    <div class="col-md-3 col-sm-12">
      <div class="col-left">

        <!--filter directive -->
        <div class="desktop">
          <filter-directive></filter-directive>
        </div>

        <div class="mobile">
          <div class="mobile-container">
            <div class="button-sort sort">

              <span data-ng-click="toggleMobileSort = !toggleMobileSort" data-toggle="modal"
                data-target="#myModal"><span class="fas fa-sort"></span>Sort</span>

              <!-- The Modal -->
              <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Sorting Option</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      <label>
                        <input type="radio" name='sort' data-ng-model="sortKey" value="-price" />
                        Price -- high to low
                      </label>

                      <label>
                        <input type="radio" name='sort' data-ng-model="sortKey" value="price" />
                        Price -- low to high
                      </label>


                      <label>
                        <input type="radio" name='sort' data-ng-model="sortKey" value="-discount" />
                        Discount
                      </label>

                      <label>
                        <input type="radio" name='sort' data-ng-model="sortKey" value="" />
                        Clear All
                      </label>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                  </div>
                </div>


              </div>

            </div>
            <div class="button-sort filter">

              <span data-ng-click="toggleMobileFilter = !toggleMobileFilter" data-toggle="modal"
                data-target="#myModal1"><span class="fas fa-filter"></span>filter</span>



              <!-- The Modal -->
              <div class="modal" id="myModal1">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Sorting Option</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      <filter-directive></filter-directive>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                  </div>
                </div>




              </div>



            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-sm-12">
      <div class="col-right">


        <div class="desktop-sorting">
          <h3>Sort By:
            <span data-ng-click="sort('-price');active=1;" data-ng-class="{'active': active===1}">
              Price -- High Low
              <span></span>
            </span>
            <span data-ng-click="sort('price');active=2;" data-ng-class="{'active': active===2}">
              Price -- Low High
              <span></span>
            </span>
            <span data-ng-click="sort('-discount');active=3;" data-ng-class="{'active': active===3}">
              Discount
              <span></span>
            </span>
            <span data-ng-click="sort('');active=4;" data-ng-class="{'active': active===4}">
              Clear All
              <span></span>
            </span>
          </h3>
        </div>

        <br />
        <div class="row">
          <div class="spinner" data-ng-show="loadingSpinner">
            <div class="spinner-content">
              <span>View is loading...</span>
              <i class="fa fa-spinner fa-spin"></i>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12"
            data-ng-repeat="item in inventory| filter: searchText | filter:minFilter | filter:maxFilter | orderBy:sortKey">

            <div class="card">
              <div class="card-item no-image">
                <img class="card-img-top" data-ng-src="{{item.img_url}}" alt="{{item.name}}" height="275">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                  <span
                    class="card-new-price">{{ item.price - ( item.price * item.discount / 100) | currency:"&#8377;" }}
                  </span>
                  <span class="card-old-price"> {{item.price}} </span>
                  <span class="card-discount"> {{item.discount}} % off</span>
                </p>
                <div class="pull-center">
                  <button class="btn btn-warning" data-ng-click="addItem(item);">Add to cart</button>
                </div>
              </div>



            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

</main>