<div class="btn-go-back">
  <a href="/" class="btn btn-light"><span class="fas fa-arrow-left"></span> Go Back</a>
</div>

<section class="cart">

  <div class="row">

    <div class="col-md-9 col-sm-12">

      <div class="products d-flex " data-ng-repeat="item in cartL | orderBy:'category'">

        <div class="col-md-3 col-sm-4">
          <div class="product-image no-image">
            <img class="card-img-top" data-ng-src="{{item.img_url}}" alt="Card image cap" width="225">
          </div>
        </div>

        <div class="product-details col-md-9 col-sm-8">
          <div class="product-description">
            <p>{{item.name}}</p>
            <p>
              <span>{{ item.newPrice | currency:"&#8377;" }}</span>
              <span style="text-decoration: line-through">{{ item.price }}</span>
              <span>{{item.discount}}% off</span>
            </p>
          </div>

          <div class="product-items ">

            <span class="button-cart-item btn-remove" data-ng-click="decreaseItemCount(item)"
              data-ng-disabled="item.qty<=0">
              -
            </span>
            <input type="number" data-ng-model="item.qty" class="qty" min="0" required>

            <span class="button-cart-item btn-add" data-ng-click="increaseItemCount(item)"
              data-ng-disabled="item.qty>=10">
              +
            </span>
          </div>

          <div class="product-remove ">
            <button data-ng-click="removeItem(item);">Remove</button>

          </div>
        </div>
      </div>

      <div class="products products-empty" data-ng-show="cartL.length === 0">
        <p>Oops! your cart is empty.
          Kindly click <a href="#!/">here</a> to add items in your cart.</p>
      </div>

    </div>

    <div class="col-md-3 col-sm-12">
      <div class="cart-details">
        <h2>PRICE DETAILS:</h2>

        <p>Price ( {{getItemCount()}} items ): <span>{{ getTotal() | currency:"&#8377;" }}</span></p>

        <p>Discount: <span>{{ getDiscount() | currency:"&#8377;" }}</span></p>

        <p>Total payable: <span>{{ getNewTotal() | currency:"&#8377;" }}</span></p>

      </div>
    </div>

  </div>

</section>



<!-- <button class="btn-danger" data-ng-click="clearCart();">Clear Cart</button> -->
<!--<span>{{ item.qty + ' x ' + item.description + ' = ' + (getCost(item) | currency) }}</span>-->